h1 Hangman

section.player1
    h2 Player 1
    p Enter Word!
    form
        input(type='text' value='enter word')
        //- default width of text field is 20 characters
        input(type='submit' value='OK')
    form



