body {
    margin: 0;
    background-color: #efefef;
  }

  table {
    border: solid black 1px;
  }
  td {
    border: solid red 1px; 
    padding: 50px;
  }
  td {
    border: solid purple 1px; 
  } 

  canvas {
    background: rgb(239, 239, 239);
  }